*{
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
    padding: 10px;
    border: 2px solid black;
}

main{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 150px;
    gap: 10px;
}

aside{
    width: 30%;
    border: 2px solid black;
    padding: 10px;
}

article{
    display: flex;
    flex-direction: row;
    width: 70%;
    border: 2px solid black;
}

section{
    display: flex;
    flex-direction: column;
    width: 50%;
}

section div{
    padding: 10px;
    height: 50%;
    border: 1px solid black;
}

section:last-child{
    padding: 10px;
}